p {
	color: blueviolet;
}

p.info {
	font-size: small;
	background-color: #63de33;
}

h1 {
	background-color:rgb(10, 19, 13);
	text-shadow: navy 0px 0 10px;
	color: white;
}

h2 {
	color: #43cc36;
	margin: 5px;
	font-family: cursive;
	background: linear-gradient(0.25turn,rgb(230, 20, 20), #edece9);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-direction: row;
	grid-auto-flow: 200px 200px;
	grid-gap: 10px;
	margin: 5px;
	width: 1024px;
	
}
img.sign {
    float: right;   

    width: 100px;
    height: 100px;
    margin: 10px 0 10px 10px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
