
body {
    font-family: Arial, sans-serif;
    margin: 0 8%;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  input[type="radio"] {
    display: inline; 
  }
  
  
  label {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  h1 {
    text-align: center;
    background-color: #2682e3; 
    color: white; 
    padding: 20px; 
  }
  .result-container {
    display: flex;
    justify-content: center;
  }
  
  .result {
    width: 50%; 
    margin-top: 20px;
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }
  
  
 
input[type="radio"][value="360630"] + label {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Egypt.svg/260px-Flag_of_Egypt.svg.png');
  }
  
  input[type="radio"][value="524901"] + label {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/260px-Flag_of_Russia.svg.png');
  }
  
  input[type="radio"][value="993800"] + label {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Flag_of_South_Africa.svg/260px-Flag_of_South_Africa.svg.png');
  }
  
  input[type="radio"][value="1816670"] + label {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/260px-Flag_of_the_People%27s_Republic_of_China.svg.png');
  }
  
  input[type="radio"][value="1850147"] + label {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Japan.svg/260px-Flag_of_Japan.svg.png');
  }
  
  input[type="radio"][value="1880252"] + label {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/260px-Flag_of_Singapore.svg.png');
  }
  
  input[type="radio"][value="2147714"] + label {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Flag_of_Australia.svg/300px-Flag_of_Australia.svg.png');
  }
  
  input[type="radio"][value="2643743"] + label {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg/300px-Flag_of_the_United_Kingdom_%283-5%29.svg.png');
  }
  
  input[type="radio"][value="2968815"] + label {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931974%2C_2020%E2%80%93present%29.svg/260px-Flag_of_France_%281794%E2%80%931815%2C_1830%E2%80%931974%2C_2020%E2%80%93present%29.svg.png');
  }
  
  input[type="radio"][value="3451189"] + label {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/254px-Flag_of_Brazil.svg.pngflags/brazil.png');
  }
  
  input[type="radio"][value="5128581"] + label,
  input[type="radio"][value="5368361"] + label {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/292px-Flag_of_the_United_States.svg.png');
  }
  